<h1>WELCOME PAGE</h1>
<h2>BUTTONS GO HERE</h2>
<%= link_to 'HAPPY', content_path(@moods.find(1)) %>
<%= link_to 'SAD', content_path(@moods.find(2)) %>
<%= link_to 'ANGER', content_path(@moods.find(3)) %>
<%= link_to 'FEAR', content_path(@moods.find(4)) %>